# Port the express server will listen to
PORT=5000

# MongoDB Connection URI
MONGODB_URI=mongodb://localhost:27017/zenlock

# Discord Audit Log Webhook URL
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN
